* {
  --navy: #1F2937;
  --header-white: #F9FAF8;
  --header-link-white: #E5E7EB;
  font-family: sans-serif;
  --blue: #3882F6;
  --hover-blue: #0057e2;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--navy);
  color: var(--header-white);
}

header > p {
  margin: 0;
  font-size: 2rem;
}

header > ul {
  display: flex;
  gap: 16px;
}

header > ul > li {
  list-style: none;
  font-size: 1.5rem;
}

header > ul > li > a {
  text-decoration: none;
  color: var(--header-link-white);
}

section {
  padding: 32px;
  display: flex;
  gap: 32px;
}

#about {
  background-color: var(--navy);
  flex-wrap: wrap;
}

.para {
  color: var(--header-link-white);
}

.signup {
  border-radius: 8px;
  border: none;
  color: var(--header-white);
  font-weight: 600;
  font-size: 1.05rem;
  background-color: var(--blue);
  padding: 8px 24px;
}

.signup:hover {
  background-color: var(--hover-blue);
  transition: all 0.3s ease;
}

.text {
  width: 400px;
  flex: 1 1 auto;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex: 1 1 auto;
}

h1 {
  color: var(--header-white);
  font-size: 4rem;
  margin: 0px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.377);
}

#random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  gap: 52px;
  flex-wrap: wrap;
}

.in {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  flex-direction: column;
}

.randimg {
  width: 100px;
  height: 100px;
}